<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/CSS/spravochnik.css">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="navbar"> <!-- Навигационная панель -->

    <div class="left-buttons"> <!-- Контейнер для левых кнопок -->
        <img src="../static/img/logo.png" alt="LOGO"> <!-- Логотип сайта -->
        {% if is_admin %}
            <a href="/admin">Админ</a>
        {% endif %}
        {% if is_not_profile %}
            {% if logged %}
                <a href="/profile">Профиль</a>
            {% else %}
                <a href="/login">Войти</a> <!-- Кнопка "Войти" -->
                <a href="/register">Зарегистрироваться</a> <!-- Кнопка "Зарегистрироваться" -->
            {% endif %}
        {% endif %}
    </div>

    <div class="center-title"><h1>PESHCOM</h1></div> <!-- Название по центру панели -->
    <div class="right-buttons"> <!-- Контейнер для правых кнопок -->
      <a href="/">Карта</a> <!-- Кнопка "Мероприятия" -->
    </div>
    
</div>
{% block body%}{% endblock %}

<footer>
    <div class="social-links">
        <a href="#">Telegram</a> <!-- Ссылка на Telegram -->
        <a href="#">VK</a> <!-- Ссылка на VK -->
        <a href="#"></a>
    </div>
    <div class="contact-info">
        <p>Контакты: NONE</p> <!-- Контактная информация -->
        <p>Телефон: NONE</p>
    </div>
    <div class="legal">
        <a href="#">Политика конфиденциальности</a> <!-- Ссылка на политику конфиденциальности -->
        <a href="#">Условия использования</a> <!-- Ссылка на условия использования -->
    </div>
</footer>
</body>
</html>