{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8"> <!-- Устанавливает кодировку символов страницы -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Устанавливает область просмотра для мобильных устройств -->
<title>Карта мероприятий</title> <!-- Заголовок страницы -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" /> <!-- Подключение стилей Leaflet -->
{{ header|safe }}
<link rel="stylesheet" href="../static/CSS/navigation.css">
{% endblock %}


{% block content%}
<div class="navbar"> <!-- Навигационная панель -->

    <div class="left-buttons"> <!-- Контейнер для левых кнопок -->
      {% if logged %}
      <a href="/profile">Профиль</a>
      {% else %}
      <a href="/login">Войти</a> <!-- Кнопка "Войти" -->
      <a href="/register">Зарегистрироваться</a> <!-- Кнопка "Зарегистрироваться" -->
      {% endif %}
    </div>

    <div class="center-title">PESHCOM</div> <!-- Название по центру панели -->
    <div class="right-buttons"> <!-- Контейнер для правых кнопок -->
      <a href="/dir">Мероприятия</a> <!-- Кнопка "Мероприятия" -->
    </div>
</div>
  <div id="map">{{ body_html|safe }}</div> Контейнер для карты


<script>
    {{ script|safe }}
</script>

{% endblock %}
