{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8"> <!-- Устанавливает кодировку символов страницы -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Устанавливает область просмотра для мобильных устройств -->
<title>Карта мероприятий</title> <!-- Заголовок страницы -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" /> <!-- Подключение стилей Leaflet -->
{{ header|safe }}
<link rel="stylesheet" href="../static/CSS/navigation.css">
<link rel="stylesheet" href="../static/CSS/map.css">
<script src="../static/JS/map.js"></script> 
{% endblock %}


{% block content%}
  <div class="navbar"> <!-- Навигационная панель -->
    <div class="left-buttons"> <!-- Контейнер для левых кнопок -->
      {% if logged %}
        <a href="/profile">Профиль</a>
      {% else %}
        <a href="/login">Войти</a> <!-- Кнопка "Войти" -->
        <a href="/register">Зарегистрироваться</a> <!-- Кнопка "Зарегистрироваться" -->
      {% endif %}
    </div>

    <div class="center-title">PESHCOM</div> <!-- Название по центру панели -->
    <div class="right-buttons"> <!-- Контейнер для правых кнопок -->
      <a href="/dir">Мероприятия</a> <!-- Кнопка "Мероприятия" -->
    </div>
  </div>
  
  <div id="map">{{ body_html|safe }}</div> <!-- Контейнер для карты -->
  
  <div class="dropdown">
    <div id="myDropdown" class="dropdown-content">
      <form action="/" method="post" class="form-contact">
        
        <div class="form-group">
            <label for="point">Начало маршрута</label> <!-- Метка и поле ввода для имени пользователя -->
            <input type="text" id='1' name='1' required> <!-- Поле ввода для имени пользователя -->
        </div>

        <div class="form-group">
            <label for="point">Конец маршрута</label> <!-- Метка и поле ввода для email -->
            <input type="text" id='2' name='2' required> <!-- Поле ввода для email -->
        </div>

        <div class="form-group">
            <input type="submit" value="Готово"> <!-- Кнопка отправки формы -->
        </div>
      </form>
      <button class="add-form" id="add-form">+</button>
    </div>
  </div>


<script>
    {{ script|safe }}
</script>

{% endblock %}
