{% extends 'h_and_f.html' %}

{% block head %}
<link rel="stylesheet" href="../static/CSS/navigation.css">
<link rel="stylesheet" href="../static/CSS/profile.css">
{% endblock %}

{% block title %}
{{ current_user.get_name() }}
{% endblock %}

{% block body%}
    <a href="logout">Выйти из профиля</a>
    user info: {{ current_user.get_id() }}

    {% for route in routes %}
        <div class="alert alert-info">
            <h2>{{ route.name }}</h2>
            <a href="/profile/{{ route.name }}" class="btn btn-warning">Детальнее</a>
        </div>
    {% endfor %}
{% endblock %}